body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

[data-testid="slackUserName"] {
    font-size: 24px;
    font-weight: bold;
    color: rgba(151, 78, 69, 0.982);
}

[data-testid="slackDisplayImage"] {
    max-width: 28%;
    border-radius: 50%;
    margin-bottom: 5px;
}

[data-testid="currentDayOfTheWeek"], [data-testid="currentUTCTime"],[data-testid="myTrack"] {
    font-size: 18px;
    color: black;
}

[data-testid="githubURL"] {
    text-decoration: none;
    color: rgba(151, 78, 69, 0.982);
}
